* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --ff: 'Arial', 'Helvetica', sans-serif;
  --fw-b: 700;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw-b);
}

.flex-container {
  display: flex;
  background-color: #f4f4f4;
}

.item {
  width: 100px;
  height: 100px;
  background-color: #0000ff;
  color: #fff;
  margin: 10px;
}
